
#################################################################################
########################### Styling my Navigation Menu ###########################
#################################################################################
.menu{
}

#Jason{
	color: blue;
}

.menuTabs{
	left: 5%;
	display: inline;
}


.menuLinks{
}

.container{
	position: relative;
	width: 80%;
	left: 10%;
}

.one{
	color: blue;
}

.two{
	color: red;
}